ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 52px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.yo-imagen {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.yo-imagen img {
  object-fit: cover;
  transform-origin: 50% 25%;
}

.yo {
  text-align: center;
}

